# Files to ignore
__pycache__/
saved_models/*
test*
wandb/*
logging/*
checkpoints/*
random_test_checkpoints/*
dist/
build/
*.egg-info/

# Virtual environments
venv/
.venv/
env/
.env/
venv*/
.env*/
.venv*/
venv*/
env*/

# IDE / editor junk
.DS_Store
.vscode/

# Custom
src/vae3d2d/latent_utils.py
