# Torch and monai must be installed separetly on each machine so that requirements can 
# be compatible with different CUDA versions
torch
monai
numpy
wandb
tqdm
imageio[ffmpeg]
pillow
matplotlib









